/* Black #181820 */
/* Grey #272833 */
/* White #fefeff */
/* Orange #fc9786 */
/* Purple #c048d2 */

*{
    box-sizing: border-box;
   
    font-family: 'Poppins',sans-serif;

}
html {
    min-height: 100%;
    display: flex;
}
body{
   
    font-size: 16px;
    line-height: 1.5;
    color: #fefeff;
    background-color: #b8b8bb;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#timer{
    font-size: 54px;
}
#start-btn{
    cursor: pointer;
    display: flex;
    background-color: yellowgreen;
 padding: 8px 30px;
 


}
#start-btn:hover{
    background-color: blue;
}
.herotext{
    font-size: 50px;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}